name: Update Releases

concurrency: update-releases

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
  push:
    branches:
      - source
    paths:
      - "mods.json"

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - uses: pnpm/action-setup@v2
        with:
          version: 6.23.6
          run_install: true

      - name: Build
        run: |
          cd scripts
          pnpm run build

      - name: Checkout database repo
        uses: actions/checkout@v3
        with:
          ref: master
          path: database

      - name: Remove existing thumbnails
        run: rm -rf database/thumbnails

      - name: Fetch mod releases and manifests
        uses: ./actions/update-database
        with:
          out-directory: database
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
          mods: mods.json
          previous-database: database/database.json
          discord-mod-hook-urls: ${{ secrets.DISCORD_MOD_HOOK_URLS }}
          discord-hook-url: "${{ secrets.DISCORD_HOOK_URL }}"
          discord-mod-update-role-id: "${{ secrets.DISCORD_MOD_UPDATE_ROLE_ID }}"
          discord-new-mod-role-id: "${{ secrets.DISCORD_NEW_MOD_ROLE_ID }}"
          google-service-account: "${{ secrets.GOOGLE_SERVICE_ACCOUNT }}"

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: database

      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v1
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: master
          repository: database
          commit_message: Update mod database
          commit_user_name: Outer Wilds Mod Database
          commit_user_email: database@outerwildsmods.com
          commit_author: Outer Wilds Mod Database <database@outerwildsmods.com>
