name: Upload PR artifact
on:
  pull_request:
    branches:
      - "source"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_TOKEN }}

      - uses: actions/setup-node@v3
        with:
          node-version: "16"

      - name: Cache pnpm modules
        uses: actions/cache@v3
        with:
          path: ~/.pnpm-store
          key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-

      - uses: pnpm/action-setup@v2
        with:
          version: 6.23.6
          run_install: true

      - name: Build
        run: |
          cd fetch-mods
          pnpm run build

      - name: Get local Mod Database file
        id: local-mods
        run: echo "mods_output=$(< ./mods.json sed ':a;N;$!ba;s/\n/ /g')" >> $GITHUB_ENV

      - name: Fetch mod releases and manifests
        id: fetch-mods
        uses: ./fetch-mods
        with:
          out-directory: output
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN  }}
          mods: "${{ env.mods_output }}"
          google-service-account: "${{ secrets.GOOGLE_SERVICE_ACCOUNT }}"

      - uses: actions/upload-artifact@v3
        with:
          name: database-preview
          path: output
